In [8]:
from zipfile import ZipFile
from urllib.request import urlopen   
import pandas as pd
import os

URLs = ['https://s3.amazonaws.com/tripdata/201501-citibike-tripdata.zip',\
       'https://s3.amazonaws.com/tripdata/201502-citibike-tripdata.zip',\
       'https://s3.amazonaws.com/tripdata/201503-citibike-tripdata.zip',\
        'https://s3.amazonaws.com/tripdata/201504-citibike-tripdata.zip',\
        'https://s3.amazonaws.com/tripdata/201505-citibike-tripdata.zip',\
        'https://s3.amazonaws.com/tripdata/201506-citibike-tripdata.zip',\
        'https://s3.amazonaws.com/tripdata/201507-citibike-tripdata.zip',\
        'https://s3.amazonaws.com/tripdata/201508-citibike-tripdata.zip',\
        'https://s3.amazonaws.com/tripdata/201509-citibike-tripdata.zip',\
        'https://s3.amazonaws.com/tripdata/201510-citibike-tripdata.zip',\
        'https://s3.amazonaws.com/tripdata/201511-citibike-tripdata.zip',\
        'https://s3.amazonaws.com/tripdata/201512-citibike-tripdata.zip']
       
dfs=[]
for URL in URLs:
# open and save the zip file onto computer
    url = urlopen(URL)
    output = open('zipFile.zip', 'wb')    # note the flag:  "wb"        
    output.write(url.read())
    output.close()

# read the zip file as a pandas dataframe
    df = pd.read_csv('zipFile.zip')      
    dfs.append(df)
# if keeping on disk the zip file is not wanted, then:
#os.remove(201307-citibike-tripdata.zip)   # remove the copy of the zipfile on disk

In [9]:
dfs[1].head(5)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,801,2/1/2015 0:00,2/1/2015 0:14,521,8 Ave & W 31 St,40.750450,-73.994811,423,W 54 St & 9 Ave,40.765849,-73.986905,17131,Subscriber,1978.0,2
1,379,2/1/2015 0:00,2/1/2015 0:07,497,E 17 St & Broadway,40.737050,-73.990093,504,1 Ave & E 15 St,40.732219,-73.981656,21289,Subscriber,1993.0,1
2,2474,2/1/2015 0:01,2/1/2015 0:42,281,Grand Army Plaza & Central Park S,40.764397,-73.973715,127,Barrow St & Hudson St,40.731724,-74.006744,18903,Subscriber,1969.0,2
3,818,2/1/2015 0:01,2/1/2015 0:15,2004,6 Ave & Broome St,40.724399,-74.004704,505,6 Ave & W 33 St,40.749013,-73.988484,21044,Subscriber,1985.0,2
4,544,2/1/2015 0:01,2/1/2015 0:10,323,Lawrence St & Willoughby St,40.692362,-73.986317,83,Atlantic Ave & Fort Greene Pl,40.683826,-73.976323,19868,Subscriber,1957.0,1

In [10]:
dfs[5].head(5)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1338,6/1/2015 0:00,6/1/2015 0:22,128,MacDougal St & Prince St,40.727103,-74.002971,2021,W 45 St & 8 Ave,40.759291,-73.988597,20721,Subscriber,1984.0,1
1,290,6/1/2015 0:00,6/1/2015 0:05,438,St Marks Pl & 1 Ave,40.727791,-73.985649,312,Allen St & E Houston St,40.722055,-73.989111,21606,Subscriber,1997.0,1
2,634,6/1/2015 0:01,6/1/2015 0:11,383,Greenwich Ave & Charles St,40.735238,-74.000271,388,W 26 St & 10 Ave,40.749718,-74.002950,16595,Subscriber,1993.0,1
3,159,6/1/2015 0:01,6/1/2015 0:04,361,Allen St & Hester St,40.716059,-73.991908,531,Forsyth St & Broome St,40.718939,-73.992663,16949,Subscriber,1981.0,1
4,1233,6/1/2015 0:02,6/1/2015 0:22,382,University Pl & E 14 St,40.734927,-73.992005,532,S 5 Pl & S 4 St,40.710451,-73.960876,17028,Customer,NaN,0

In [11]:
dfs[4].head(2)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,415,5/1/2015 00:00:11,5/1/2015 00:07:06,477,W 41 St & 8 Ave,40.756405,-73.990026,442,W 27 St & 7 Ave,40.746647,-73.993915,17012,Subscriber,1981.0,1
1,1523,5/1/2015 00:00:28,5/1/2015 00:25:52,293,Lafayette St & E 8 St,40.730287,-73.990765,324,DeKalb Ave & Hudson Ave,40.689888,-73.981013,17390,Customer,NaN,0

In [12]:
dfs[6].head(2)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,732,7/1/2015 00:00:03,7/1/2015 00:12:16,489,10 Ave & W 28 St,40.750664,-74.001768,368,Carmine St & 6 Ave,40.730386,-74.002150,18669,Subscriber,1970.0,1
1,322,7/1/2015 00:00:06,7/1/2015 00:05:29,304,Broadway & Battery Pl,40.704633,-74.013617,3002,South End Ave & Liberty St,40.711512,-74.015756,14618,Subscriber,1984.0,1

In [13]:
dfs[11].head(5)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,475,12/1/2015 07:35:36,12/1/2015 07:43:32,72,W 52 St & 11 Ave,40.767272,-73.993929,173,Broadway & W 49 St,40.760647,-73.984427,22780,Subscriber,1983.0,1
1,684,12/1/2015 07:38:15,12/1/2015 07:49:39,72,W 52 St & 11 Ave,40.767272,-73.993929,520,W 52 St & 5 Ave,40.759923,-73.976485,17787,Subscriber,1975.0,1
2,1063,12/1/2015 07:44:49,12/1/2015 08:02:33,72,W 52 St & 11 Ave,40.767272,-73.993929,358,Christopher St & Greenwich St,40.732916,-74.007114,18797,Subscriber,1966.0,1
3,1075,12/1/2015 08:02:29,12/1/2015 08:20:24,72,W 52 St & 11 Ave,40.767272,-73.993929,505,6 Ave & W 33 St,40.749013,-73.988484,14625,Subscriber,1985.0,1
4,293,12/1/2015 08:06:37,12/1/2015 08:11:30,72,W 52 St & 11 Ave,40.767272,-73.993929,525,W 34 St & 11 Ave,40.755942,-74.002116,21238,Subscriber,1968.0,1

In [14]:

df = pd.concat(dfs)
df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1346,1/1/2015 0:01,1/1/2015 0:24,455,1 Ave & E 44 St,40.750020,-73.969053,265,Stanton St & Chrystie St,40.722293,-73.991475,18660,Subscriber,1960.0,2
1,363,1/1/2015 0:02,1/1/2015 0:08,434,9 Ave & W 18 St,40.743174,-74.003664,482,W 15 St & 7 Ave,40.739355,-73.999318,16085,Subscriber,1963.0,1
2,346,1/1/2015 0:04,1/1/2015 0:10,491,E 24 St & Park Ave S,40.740964,-73.986022,505,6 Ave & W 33 St,40.749013,-73.988484,20845,Subscriber,1974.0,1
3,182,1/1/2015 0:04,1/1/2015 0:07,384,Fulton St & Waverly Ave,40.683178,-73.965964,399,Lafayette Ave & St James Pl,40.688515,-73.964763,19610,Subscriber,1969.0,1
4,969,1/1/2015 0:05,1/1/2015 0:21,474,5 Ave & E 29 St,40.745168,-73.986831,432,E 7 St & Avenue A,40.726218,-73.983799,20197,Subscriber,1977.0,1
5,496,1/1/2015 0:07,1/1/2015 0:15,512,W 29 St & 9 Ave,40.750073,-73.998393,383,Greenwich Ave & Charles St,40.735238,-74.000271,20788,Subscriber,1969.0,2
6,152,1/1/2015 0:07,1/1/2015 0:09,498,Broadway & W 32 St,40.748549,-73.988084,474,5 Ave & E 29 St,40.745168,-73.986831,19006,Subscriber,1972.0,1
7,1183,1/1/2015 0:08,1/1/2015 0:28,405,Washington St & Gansevoort St,40.739323,-74.008119,174,E 25 St & 1 Ave,40.738177,-73.977387,17640,Subscriber,1985.0,2
8,846,1/1/2015 0:09,1/1/2015 0:23,450,W 49 St & 8 Ave,40.762272,-73.987882,488,W 39 St & 9 Ave,40.756458,-73.993722,15691,Subscriber,1991.0,1
9,576,1/1/2015 0:10,1/1/2015 0:20,160,E 37 St & Lexington Ave,40.748238,-73.978311,174,E 25 St & 1 Ave,40.738177,-73.977387,17837,Subscriber,1991.0,1
10,540,1/1/2015 0:10,1/1/2015 0:19,291,Madison St & Montgomery St,40.713126,-73.984844,151,Cleveland Pl & Spring St,40.721816,-73.997203,16947,Subscriber,1979.0,1
11,419,1/1/2015 0:11,1/1/2015 0:18,517,Pershing Square South,40.751581,-73.977910,540,Lexington Ave & E 26 St,40.741473,-73.983209,14807,Subscriber,1980.0,1
12,751,1/1/2015 0:13,1/1/2015 0:25,290,2 Ave & E 58 St,40.760203,-73.964785,507,E 25 St & 2 Ave,40.739126,-73.979738,16702,Subscriber,1987.0,1
13,332,1/1/2015 0:13,1/1/2015 0:18,361,Allen St & Hester St,40.716059,-73.991908,438,St Marks Pl & 1 Ave,40.727791,-73.985649,17342,Subscriber,1988.0,1
14,1099,1/1/2015 0:14,1/1/2015 0:32,317,E 6 St & Avenue B,40.724537,-73.981854,2012,E 27 St & 1 Ave,40.739445,-73.976806,19909,Subscriber,1983.0,1
15,649,1/1/2015 0:14,1/1/2015 0:25,488,W 39 St & 9 Ave,40.756458,-73.993722,434,9 Ave & W 18 St,40.743174,-74.003664,19584,Subscriber,1979.0,1
16,614,1/1/2015 0:14,1/1/2015 0:24,285,Broadway & E 14 St,40.734546,-73.990741,312,Allen St & E Houston St,40.722055,-73.989111,19202,Subscriber,1959.0,1
17,1196,1/1/2015 0:16,1/1/2015 0:36,466,W 25 St & 6 Ave,40.743954,-73.991449,454,E 51 St & 1 Ave,40.754557,-73.965930,20683,Subscriber,1971.0,1
18,1426,1/1/2015 0:17,1/1/2015 0:40,360,William St & Pine St,40.707179,-74.008873,391,Clark St & Henry St,40.697601,-73.993446,21554,Subscriber,1977.0,1
19,1262,1/1/2015 0:18,1/1/2015 0:39,485,W 37 St & 5 Ave,40.750380,-73.983390,251,Mott St & Prince St,40.723180,-73.994800,16894,Subscriber,1980.0,1
20,707,1/1/2015 0:18,1/1/2015 0:30,449,W 52 St & 9 Ave,40.764618,-73.987895,509,9 Ave & W 22 St,40.745497,-74.001971,14598,Subscriber,1972.0,1
21,307,1/1/2015 0:18,1/1/2015 0:23,474,5 Ave & E 29 St,40.745168,-73.986831,476,E 31 St & 3 Ave,40.743943,-73.979661,18834,Subscriber,1962.0,1
22,1053,1/1/2015 0:19,1/1/2015 0:37,164,E 47 St & 2 Ave,40.753231,-73.970325,523,W 38 St & 8 Ave,40.754666,-73.991382,15617,Subscriber,1987.0,1
23,446,1/1/2015 0:20,1/1/2015 0:27,522,E 51 St & Lexington Ave,40.757148,-73.972078,518,E 39 St & 2 Ave,40.747804,-73.973442,15812,Subscriber,1988.0,1
24,1251,1/1/2015 0:21,1/1/2015 0:41,217,Old Fulton St,40.702772,-73.993836,313,Washington Ave & Park Ave,40.696102,-73.967510,19780,Customer,NaN,0
25,797,1/1/2015 0:21,1/1/2015 0:35,513,W 56 St & 10 Ave,40.768254,-73.988639,488,W 39 St & 9 Ave,40.756458,-73.993722,16761,Subscriber,1969.0,1
26,503,1/1/2015 0:21,1/1/2015 0:30,243,Fulton St & Rockwell Pl,40.688226,-73.979382,270,Adelphi St & Myrtle Ave,40.693083,-73.971789,14570,Customer,NaN,0
27,1639,1/1/2015 0:22,1/1/2015 0:49,382,University Pl & E 14 St,40.734927,-73.992005,352,W 56 St & 6 Ave,40.763406,-73.977225,18320,Subscriber,1996.0,2
28,1175,1/1/2015 0:22,1/1/2015 0:42,217,Old Fulton St,40.702772,-73.993836,313,Washington Ave & Park Ave,40.696102,-73.967510,16610,Customer,NaN,0
29,470,1/1/2015 0:22,1/1/2015 0:30,243,Fulton St & Rockwell Pl,40.688226,-73.979382,270,Adelphi St & Myrtle Ave,40.693083,-73.971789,20804,Subscriber,1986.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
804095,774,12/31/2015 18:50:41,12/31/2015 19:03:36,3238,E 80 St & 2 Ave,40.773914,-73.954395,3177,W 84 St & Broadway,40.786795,-73.977112,16964,Subscriber,1975.0,1
804096,926,12/31/2015 21:13:54,12/31/2015 21:29:21,3238,E 80 St & 2 Ave,40.773914,-73.954395,3140,1 Ave & E 78 St,40.771404,-73.953517,22435,Subscriber,1976.0,1
804097,279,12/24/2015 17:08:10,12/24/2015 17:12:49,3241,Monroe St & Tompkins Ave,40.686203,-73.944694,344,Monroe St & Bedford Ave,40.685144,-73.953809,19527,Subscriber,1988.0,1
804098,249,12/26/2015 17:56:26,12/26/2015 18:00:36,3241,Monroe St & Tompkins Ave,40.686203,-73.944694,344,Monroe St & Bedford Ave,40.685144,-73.953809,22679,Subscriber,1977.0,2
804099,1835,12/28/2015 08:13:00,12/28/2015 08:43:36,3241,Monroe St & Tompkins Ave,40.686203,-73.944694,309,Murray St & West St,40.714979,-74.013012,23200,Subscriber,1977.0,1
804100,310,12/28/2015 14:36:14,12/28/2015 14:41:24,3241,Monroe St & Tompkins Ave,40.686203,-73.944694,3056,Kosciuszko St & Nostrand Ave,40.690725,-73.951335,19615,Subscriber,1977.0,2
804101,331,12/28/2015 20:08:29,12/28/2015 20:14:00,3241,Monroe St & Tompkins Ave,40.686203,-73.944694,3057,Kosciuszko St & Tompkins Ave,40.691283,-73.945242,17518,Subscriber,1986.0,1
804102,479,12/29/2015 13:49:38,12/29/2015 13:57:38,3241,Monroe St & Tompkins Ave,40.686203,-73.944694,437,Macon St & Nostrand Ave,40.680983,-73.950048,17562,Subscriber,1967.0,1
804103,1833,12/30/2015 08:42:55,12/30/2015 09:13:29,3241,Monroe St & Tompkins Ave,40.686203,-73.944694,309,Murray St & West St,40.714979,-74.013012,23868,Subscriber,1977.0,1
804104,729,12/30/2015 09:05:03,12/30/2015 09:17:12,3241,Monroe St & Tompkins Ave,40.686203,-73.944694,3065,Union Ave & Wallabout St,40.700295,-73.950323,18719,Subscriber,1979.0,2
804105,206,12/30/2015 12:30:16,12/30/2015 12:33:42,3241,Monroe St & Tompkins Ave,40.686203,-73.944694,3055,Greene Ave & Nostrand Ave,40.688334,-73.950916,18978,Subscriber,1986.0,1
804106,237,12/30/2015 21:10:34,12/30/2015 21:14:32,3241,Monroe St & Tompkins Ave,40.686203,-73.944694,3052,Lewis Ave & Madison St,40.686312,-73.935775,22785,Subscriber,1982.0,1
804107,200,12/31/2015 08:09:56,12/31/2015 08:13:17,3241,Monroe St & Tompkins Ave,40.686203,-73.944694,437,Macon St & Nostrand Ave,40.680983,-73.950048,23224,Subscriber,1988.0,1
804108,2069,12/31/2015 08:56:46,12/31/2015 09:31:15,3241,Monroe St & Tompkins Ave,40.686203,-73.944694,309,Murray St & West St,40.714979,-74.013012,23778,Subscriber,1977.0,1
804109,1255,12/31/2015 15:56:35,12/31/2015 16:17:30,3241,Monroe St & Tompkins Ave,40.686203,-73.944694,3095,Graham Ave & Herbert St,40.719293,-73.945004,22814,Customer,NaN,0
804110,393,12/30/2015 15:24:41,12/30/2015 15:31:14,3242,Schermerhorn St & Court St,40.691029,-73.991834,391,Clark St & Henry St,40.697601,-73.993446,16574,Subscriber,1950.0,2
804111,298,12/30/2015 16:01:14,12/30/2015 16:06:12,3242,Schermerhorn St & Court St,40.691029,-73.991834,406,Hicks St & Montague St,40.695128,-73.995951,16794,Subscriber,1956.0,1
804112,270,12/30/2015 18:11:21,12/30/2015 18:15:52,3242,Schermerhorn St & Court St,40.691029,-73.991834,406,Hicks St & Montague St,40.695128,-73.995951,24246,Subscriber,1969.0,1
804113,278,12/30/2015 22:30:17,12/30/2015 22:34:56,3242,Schermerhorn St & Court St,40.691029,-73.991834,323,Lawrence St & Willoughby St,40.692362,-73.986317,17440,Subscriber,1956.0,1
804114,1155,12/31/2015 11:48:49,12/31/2015 12:08:05,3242,Schermerhorn St & Court St,40.691029,-73.991834,323,Lawrence St & Willoughby St,40.692362,-73.986317,23239,Subscriber,1966.0,2
804115,498,12/31/2015 12:00:05,12/31/2015 12:08:23,3242,Schermerhorn St & Court St,40.691029,-73.991834,3222,Hanson Pl & St Felix St,40.685160,-73.977114,15594,Subscriber,1990.0,2
804116,313,12/31/2015 13:44:49,12/31/2015 13:50:03,3242,Schermerhorn St & Court St,40.691029,-73.991834,391,Clark St & Henry St,40.697601,-73.993446,23510,Subscriber,1982.0,1
804117,531,12/31/2015 15:05:11,12/31/2015 15:14:02,3242,Schermerhorn St & Court St,40.691029,-73.991834,467,Dean St & 4 Ave,40.683125,-73.978951,23901,Subscriber,1979.0,1
804118,1483,12/31/2015 15:50:37,12/31/2015 16:15:20,3242,Schermerhorn St & Court St,40.691029,-73.991834,412,Forsyth St & Canal St,40.715816,-73.994224,23410,Customer,NaN,0
804119,1463,12/31/2015 15:50:52,12/31/2015 16:15:15,3242,Schermerhorn St & Court St,40.691029,-73.991834,412,Forsyth St & Canal St,40.715816,-73.994224,20212,Customer,NaN,0
804120,509,12/31/2015 16:50:17,12/31/2015 16:58:46,3242,Schermerhorn St & Court St,40.691029,-73.991834,261,Johnson St & Gold St,40.694749,-73.983625,22282,Subscriber,1957.0,1
804121,591,12/31/2015 17:17:52,12/31/2015 17:27:43,3242,Schermerhorn St & Court St,40.691029,-73.991834,258,DeKalb Ave & Vanderbilt Ave,40.689407,-73.968855,22366,Subscriber,1978.0,1
804122,197,12/31/2015 17:56:22,12/31/2015 17:59:39,3242,Schermerhorn St & Court St,40.691029,-73.991834,157,Henry St & Atlantic Ave,40.690893,-73.996123,20663,Subscriber,1959.0,1
804123,372,12/31/2015 21:20:38,12/31/2015 21:26:50,3242,Schermerhorn St & Court St,40.691029,-73.991834,467,Dean St & 4 Ave,40.683125,-73.978951,19782,Subscriber,1987.0,1
804124,395,12/31/2015 21:49:19,12/31/2015 21:55:55,3242,Schermerhorn St & Court St,40.691029,-73.991834,418,Front St & Gold St,40.702240,-73.982578,23411,Subscriber,1968.0,1

In [15]:
df.shape

(9937969, 15)

In [16]:
df.to_csv('Data/citibike_2015.csv', encoding='utf-8', index=False)